body
  font-size 14px
  margin 0px
  line-height 19px
  font-family 'Roboto', helvetica, arial, sans-serif
  *,
  *:before,
  *:after
    box-sizing border-box
  a
    color ColorLink
    text-decoration underline
    &:active
    &:focus
      text-decoration none
  .leaflet-control-zoom a
    text-decoration none
    color #333
  .leaflet-control-attribution a
    color #003366

  .fallback
    position absolute
    top 0px
    left 0px
    width 100%
    height 600px
    background white
    z-index 10

    div
      margin 270px 40px 0px 40px
      text-align center
      padding 20px 10px
      border 1px dotted #aaa

.chuchvalce 
  width 100%
  overflow hidden

.scroll-wrapper
  -webkit-overflow-scrolling touch
  overflow-y hidden
  overflow-x auto
  width 100%
  height 390px
  iframe
    width 100%
    height 100%

.chuchvalce-startovac,
.chuchvalce-hithit
  vertical-align top
  float left
  width 546px !important;
  
.chuchvalce-startovac
  width 474px !important;  

.chuchvalce .scroll-wrapper 
  float left
  vertical-align top
  overflow-y auto
  height 710px !important
  max-height 710px !important
  width 546px !important;
  iframe
    height 710px !important
    max-height 700px !important
    width 546px !important

.chuchvalce-startovac,    
.chuchvalce-startovac .scroll-wrapper
  width 474px !important;
  iframe
    width 474px !important

@media MediaSmallScreen
  .chuchvalce
    h3
      font-size 15px
  .chuchvalce .scroll-wrapper 
    float none
    width 100% !important
    height 70vh !important
    max-height 70vh !important
        
